html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    background: #f6f7f8;
}
.wrapper{
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
.content-wrapper{
    min-height: 100%;
    background-color: aliceblue;
    z-index: 800;
}
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
}
.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.content-wrapper, .main-footer {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    z-index: 820;
}
@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 68px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: left, visibility;
        z-index: 999;
    }
    .offcanvas-collapse.open {
        left: 0;
        visibility: visible;
    }
    /* Tablet & Mobile Navigation */

    #menu-button{
        display:block;
        width:100%;
        position:relative;
        z-index:6000;
        height:60px;
        padding-top:20px;
        border-bottom:1px solid #ddd;
        cursor:pointer;
        transition:background 0.3s;
        -webkit-transition:background 0.3s;
        -moz-transition:background 0.3s;
        border-left:1px solid #dee0e5;
        border-right:1px solid #dee0e5;
    }

    #menu-button:hover{
        background:#63b2f5;
        border-bottom-color:transparent;
    }

    #menu-button:hover>div>span{
        background:#fff;
    }

    #menu-button>div{
        display:inline-block;
        vertical-align:top;
        margin-left:20px;
        margin-right:7px;
    }

    #menu-button>span{
        font-size:16px;
        transition:color 0.3s;
        -webkit-transition:color 0.3s;
        -moz-transition:color 0.3s;
    }

    #menu-button:hover>span{
        color:#fff;
    }

    #menu-button>div>span{
        display:block;
        width:17px;
        height:3px;
        background:#444;
        margin:3px auto;
        transition:background 0.3s;
        -webkit-transition:background 0.3s;
        -moz-transition:background 0.3s;
    }

    #navigation{
        display:none;
        width:100%!important;
        text-align:left;
    }

    #navigation ul,
    #navigation li ul,
    #navigation ul li:last-child,
    #navigation ul li:last-child>a,
    #navigation ul li:last-child>span{
        border-radius:0!important;
    }

    #navigation>li{
        border-left:1px solid #dee0e5;
        border-right:1px solid #dee0e5;
    }

    #navigation li{
        display:block!important;
        width:100%!important;
        text-align:left;
    }

    #navigation li>span{
        cursor:default;
    }

    #navigation>li.home-button>a:after,
    #navigation>li.home-button>span:after{
        content:'\e891';
        display:block;
    }

    #navigation>li.home-button>a:only-child:after,
    #navigation>li.home-button>span:only-child:after{
        display:none;
    }

    #navigation li,
    #navigation li>span
    #navigation li>a{
        border-color:#dee0e5!important;
    }

    #navigation li:hover,
    #navigation li:hover>a,
    #navigation li:hover>span{
        border-bottom-color:transparent!important;
        border-top-color:transparent!important;
    }

    #navigation li>span:after,
    #navigation lI>a:after{
        right:15px;
        position:absolute;
        top:15px;
        content:'\e891';
    }

    #navigation li.dropdown-opened>span:after,
    #navigation li.dropdown-opened>a:after{
        content: '\e88e'; 
    }

    #navigation.navigation-opened{
        display:block;
    }

    #navigation li ul{
        box-shadow:none;
    }

    #navigation li ul,
    #navigation li ul li ul,
    .csstransforms #navigation li ul,
    .csstransforms #navigation li ul li ul{
        display:none;
        width:100%!important;
        -moz-opacity: 1!important;
        -khtml-opacity: 1!important;
        opacity: 1!important;
        transform:scale(1)!important;
        -webkit-transform:scale(1)!important;
        -moz-transform:scale(1)!important;
        position:relative;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:0;
    }

    #navigation>li>span,
    #navigation>li>a{
        font-size:15px;
        padding:10px 20px!important;
    }

    #navigation ul li>span,
    #navigation ul li>a{
        padding-left:30px!important;
    }

    #navigation ul ul li>span,
    #navigation ul ul li>a{
        padding-left:40px!important;
    }

    #navigation li>.dropdown-button{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        width:50px;
        background:transparent;
        cursor:pointer;
    }

}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
.oc-top-2{ margin-top: 5px;}


/* Navigation */
#menu-button{
    display:none;
}

#navigation{
    list-style:none;
    margin:0;
    padding:0;
    display:table;
    width:100%;
}

#navigation ul{
    list-style:none;
    margin:0;
    padding:0;
}

#navigation>li{
    position:relative;
    -webkit-perspective: 500px;
    perspective: 500px;
}

#navigation ul{
    -webkit-perspective: 500px;
    perspective: 500px;
}

#navigation>li{
    display:table-cell;
    text-align:center;
    position:relative;
    border-right:1px solid #dee0e5;
    background:#f2f4f9;
}

#navigation>li:first-child{
    border-left:1px solid #dee0e5;
}

#navigation>li.home-button{
    width:60px;
}

#navigation li>a,
#navigation li>span{
    display:block;
    color:#3e474c;
    font-size:16px;
    padding:19px 10px 18px;
    cursor:pointer;
    transition: color 0.1s, background 0.3s;
    -webkit-transition: color 0.1s, background 0.3s;
    -moz-transition: color 0.1s, background 0.3s;
}

#navigation>li>a,
#navigation>li>span{
    border-top:1px solid #fff;
    border-bottom:1px solid #dee0e5;
}

#navigation>li:hover>a,
#navigation>li:hover>span,
#navigation>li.current-menu-item>a,
#navigation>li.current-menu-item>span{
    border-top:1px solid #7cc5f8;
    border-bottom:1px solid #579dd9;
}

#navigation li:hover,
#navigation li:hover>span,
#navigation li:hover>a,
#navigation>li.current-menu-item,
#navigation>li.current-menu-item>span,
#navigation>li.current-menu-item>a{
    text-decoration:none;
    background:#63b2f5;
    color:#fff;
    border-right-color:transparent;
    border-left-color:transparent;
}

#navigation li:hover>a:after,
#navigation>li.current-menu-item>a:after,
#navigation li:hover>span:after,
#navigation>li.current-menu-item>span:after{
    color:#fff;
}

#navigation>li>a:after,
#navigation>li>span:after{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    color:#a8abae;
    font-size:13px;
    margin-left:5px;
    content: '\e88e';
}

#navigation>li>a:only-child:after,
#navigation>li>span:only-child:after,
#navigation>li.home-button>a:after,
#navigation>li.home-button>span:after{
    content:'';
    display:none;
}

#navigation li.donate-button{
    color:#fff;
    text-transform:uppercase;
    font-size:18px;
    background:#a82512;
    border:none;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
}

#navigation li.donate-button:hover{
    background:#d3311a;
}

#navigation li.donate-button:hover>a{
    border-top-color:#de3d21;
}

#navigation li.donate-button>a{
    color:#fff;
    padding:18px 10px;
    background:transparent;
    font-size:18px;
    border-top:1px solid #be2e17;
    border-bottom:1px solid #911f0f;
}


/* Dropdown */

#navigation li ul li{
    position:relative;
}

#navigation li ul{
    display:none;
    text-align:left;
    position:absolute;
    font-size:15px;
    background:#f2f4f9;
    z-index:9999;
    box-shadow:0 1px 2px rgba(0,0,0,.1);
    top:100%;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

#navigation li ul li>a:after,
#navigation li ul li>span:after{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    color:#a8abae;
    font-size:13px;
    margin-left:5px;
    content: '\e891';
    position:absolute;
    right:15px;
    top:15px;
    z-index:9999;
}

#navigation li ul li>a:only-child:after,
#navigation li ul li>span:only-child:after{
    content:'';
    display:none;
}

.csstransforms3d #navigation li ul{
    display:block;
    width:200px;
    transform: rotate3d(1,0,0,-90deg);
    -webkit-transform: rotate3d(1,0,0,-90deg);
    -moz-transform: rotate3d(1,0,0,-90deg);
    -ms-transform: rotate3d(1,0,0,-90deg);
    -o-transform: rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:0 0 0;
    -moz-transform-origin:0 0 0;
    transform-origin:0 0 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    transition: transform 0.5s, opacity 0.3s;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
    -moz-transition: -moz-transform 0.5s, opacity 0.3s;
}

.csstransforms3d #navigation ul ul{
    transform: rotate3d(0,1,0,90deg);
    -webkit-transform: rotate3d(0,1,0,90deg);
    -moz-transform: rotate3d(0,1,0,90deg);
    -ms-transform: rotate3d(0,1,0,90deg);
    -o-transform: rotate3d(0,1,0,90deg);
}

#navigation li ul li ul{
    left:100%;
    top:0;
    margin-left:-10px;
    margin-top:10px;
    z-index:7000;
}

#navigation ul li:last-child,
#navigation ul li:last-child>a,
#navigation ul li:last-child>span{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom:none;
}

#navigation ul li:last-child{
    border-bottom:none;
}

#navigation li ul li>a,
#navigation li ul li>span{
    display:block;
    color:#3e474c;
    font-size:15px;
    padding:10px 20px;
    border-bottom:1px solid #dee0e5;
}

#navigation li:hover>ul{
    display:block;
    width:200px;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    transform: rotate3d(0,0,0,0);
    -webkit-transform: rotate3d(0,0,0,0);
    -moz-transform: rotate3d(0,0,0,0);
    -ms-transform: rotate3d(0,0,0,0);
    -o-transform: rotate3d(0,0,0,0);
}

#navigation li:hover>ul>li{
    display:block;
}

/* Progress Bars */

.progressbar{
    width:100%;
    height:15px;
    border:4px solid #fff;
    background:#fff;
    box-shadow:0 0 2px #ccc;
    -webkit-box-shadow:0 0 2px #ccc;
    -moz-box-shadow:0 0 2px #ccc;
    -o-box-shadow:0 0 2px #ccc;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    margin-top:-7px;
    margin-bottom:15px;
}

.progressbar .progress-width{
    background:#63b2f5;
    width:0%;
    height:100%;
    display:block;
}

.progressbar .progress-percent{
    display:block;
    position:absolute;
    top:-30px;
    font-weight:700;
    font-size:15px;
    right:0;
}
